<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>

  <!-- 
    - primary meta tags
  -->
  <title>GVP Blog Website</title>
  <meta name="title" content="GVP Blog Website">
  <meta name="description" content="This is a blog html template made by GVP Students">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./static/sports.css">
  <link rel="stylesheet" href="./static/style.css">
</head>
<h1 style="display: flex;flex-direction: row;justify-content: center;">Sports</h1>
<button class="btn btn-primary" id="goToIndexButton">
  <i class='fas fa-arrow-left' style='font-size:24px'></i>
</button>

<body>
  <div class="container">
    <div class="card feature-card">
      <figure class="card-banner img-holder medium-banner">
        <img src="./static/featured-4.png" loading="lazy" alt="Self-observation is the first step of inner unfolding" class="img-cover">
      </figure>
    </div>
  </div>

  <div class="card-content">
    <div class="card-wrapper">
      <div class="wrapper">
        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
      </div>
    </div>
    <h3 class="headline headline-3">
      <a href="#" class="card-title hover-2">Embrace sports, foster excellence</a>
    </h3>
    <h4>
      🎊Winners.....#sports#basketball<br> 
    </h4>
  </div>

  <div class="container">
    <div class="card feature-card">
      <figure class="card-banner img-holder medium-banner">
        <img src="./static/topic-1.png" loading="lazy"  class="img-cover">
      </figure>
    </div>
  </div>
  <div class="card-content">
    <div class="card-wrapper">
      <div class="wrapper">
        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
      </div>
    </div>
    <h3 class="headline headline-3">
      <a href="#" class="card-title hover-2">Embrace sports, foster excellence</a>
    </h3>
    <h4>
      Match day.....!!!!!!!!!!!!!🎊<br> 
    </h4>
  </div>


  <div id="dynamicContent"></div>


 
  <script>

    // Clear entire stored content from Local Storage
    // localStorage.removeItem("feststoredContent");
    


    
    function countContainersWithImages() {
    var containersWithImages = document.querySelectorAll('.container img').length;
      
      // Count containers with images from local storage
      var feststoredContent = JSON.parse(localStorage.getItem("feststoredContent")) || [];
      feststoredContent.forEach(function(item) {
        if (item.imgdata) {
          containersWithImages++;
        }
      });

      return containersWithImages;
    }

    // Example usage:
    var containerCount = countContainersWithImages();

    localStorage.setItem("festcount", containerCount);


    
    document.getElementById("goToIndexButton").addEventListener("click", function() {
      // Redirect to index.html
      window.location.href = "/index1";
    });
  
  
    function createAndSaveCardContent(title, content,imgdata) {
    // Create a unique ID for the card content
    var uniqueId = 'card-content-' + Date.now();

    // Save the card content to local storage
    var feststoredContent = JSON.parse(localStorage.getItem("feststoredContent")) || [];
    feststoredContent.push({ id: uniqueId, title: title, content: content,imgdata:imgdata });
    localStorage.setItem("feststoredContent", JSON.stringify(feststoredContent));
}

// Load stored card content from local storage on page load
window.onload = function() {
    var feststoredContent = JSON.parse(localStorage.getItem("feststoredContent")) || [];
    feststoredContent.forEach(function(item) {
        // Check if imgdata exists
        if (item.imgdata) {
            var uniqueId = 'card-content-' + Date.now();
            var cardContentHTML = `
                <div id="${uniqueId}">
                  <div class="container">
                      <div class="card feature-card">
                        <figure class="card-banner img-holder medium-banner">
                          <img src="data:image/png;base64,${ item.imgdata }">
                        </figure>
                      </div>
                    </div> 
                  
                  <div class="card-content">
                    <h3 class="headline headline-3">
                        <a href="#" class="card-title hover-2">${item.title}</a>
                    </h3>
                    <h4>${item.content}</h4>
                  </div>  

                </div>`;
            document.getElementById("dynamicContent").innerHTML += cardContentHTML;
        }
    });
};

  // Example usage:
  var titleFromApp = "{{title}}"; // Replace with actual title variable from app.py
  var contentFromApp = "{{content}}";// Replace with actual content variable from app.py
  var imgdata ="{{image_data}}";

  createAndSaveCardContent(titleFromApp, contentFromApp,imgdata);
  </script>

</body>

</html>
