<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>GVP Blog Website</title>
  <meta name="title" content="GVP Blog Website">
  <meta name="description" content="This is a blog html template made by GVP Students">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./static/sports.css">
  <link rel="stylesheet" href="./static/style.css">
</head>

<body>
  <div class="container">
    <button class="btn btn-primary" id="goToIndexButton">
      <span class="span">Back</span>
    </button>
    <div class="card feature-card">
      <figure class="card-banner img-holder medium-banner">
        <img src="./static/topic-1.png" loading="lazy" alt="Self-observation is the first step of inner unfolding" class="img-cover">
      </figure>
    </div>
  </div>

  <div class="card-content">
    <div class="card-wrapper">
      <div class="wrapper">
        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
      </div>
    </div>
    <h3 class="headline headline-3">
      <a href="#" class="card-title hover-2">Embrace sports, foster excellence</a>
    </h3>
    <h4>
      🏀 Embrace sports, foster excellence! 🏀<br>
      Calling all GVP students! 📣 Join us on September 22, 2022, for an exhilarating basketball game hosted at Gayatri Vidya Parishad College of Engineering. 🎉<br>
      👉 Event Details:<br>
      Date: September 22, 2022,<br>
      Time: 3pm<br>
      Location: Gayatri Vidya Parishad College of Engineering<br>
      🔥 Don't miss out on the action as teams from the United Basketball Series battle it out on the court!<br>
      Can't make it in person? No worries! Catch the excitement live on Instagram! 📲<br>
      Spread the word, bring your friends, and let's make this an unforgettable event! See you there! 🎊<br> 
    </h4>
  </div>


  <script>
    document.getElementById("goToIndexButton").addEventListener("click", function() {
      // Redirect to index.html
      window.location.href = "/index1";
    });
  </script>

</body>

</html>
